-- --------------------------------------------------------

-- 
-- Estructura de tabla para la tabla `countries`
-- 

CREATE TABLE `countries` (
  `id` int(11) NOT NULL auto_increment,
  `iso2` char(2) NOT NULL,
  `iso3` char(3) NOT NULL,
  `name` varchar(100) NOT NULL,
  `dialing_code` int(4) NOT NULL,
  `name_zh_cn` varchar(100) NOT NULL,
  `name_zh_tw` varchar(100) NOT NULL,
  PRIMARY KEY  (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=247 DEFAULT CHARSET=utf8 AUTO_INCREMENT=247 ;

-- 
-- Volcar la base de datos para la tabla `countries`
-- 

INSERT INTO `countries` VALUES (1, 'AF', 'AFG', 'Afghanistan', 93, '阿富汗', '阿富汗');
INSERT INTO `countries` VALUES (2, 'AX', 'ALA', 'Aland Islands', 0, '奥兰群岛', '奧蘭群島');
INSERT INTO `countries` VALUES (3, 'AL', 'ALB', 'Albania', 355, '阿尔巴尼亚', '阿爾巴尼亞');
